.analyst-home-root {
  width: 100%;
}
.title-no-margin {
  margin-bottom: 0;
}
.stats-vertical {
  width: 100%;
}
.stats-row {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.tag-no-margin {
  margin-right: 0;
}
