.w-200 {
  width: 200px;
}
.w-180 {
  width: 180px;
}
.w-170 {
  width: 170px;
}
.w-160 {
  width: 160px;
}
.w-150 {
  width: 150px;
}
.w-140 {
  width: 140px;
}
.w-130 {
  width: 130px;
}
.w-120 {
  width: 120px;
}
.w-200 {
  width: 200px;
}
.w-220 {
  width: 220px;
}
.w-200\.important {
  width: 200px !important;
}
